---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';

import PhotoUploader from '../components/PhotoUploader.tsx';
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-gray-50 text-gray-800 flex flex-col min-h-screen font-sans">
    <Header />


    <main class="flex-1 max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
      <h1 class="text-2xl sm:text-4xl font-bold text-gray-900 mb-8 text-center">
        Text Extraction from Image
      </h1>
      <div class="flex flex-col md:flex-row items-start sm:gap-12">
        <div class="flex-1">
          <PhotoUploader client:load />
        </div>
        <div class="flex-1">
          <PhotoUploader client:load />
        </div>
      </div>
      <div>
        <p class="mt-8 text-center text-gray-600">
          Note: All processing is done locally in your browser. No images or data are uploaded to any server.
        </p>
      </div>
    </main>


    <Footer />
  </body>
</html>
